section#banner{
    padding-top: 10%;
    background-image: url(../imagens/bannerCabecalho.png);
    background-size: cover;
    position: relative;

}
h1{
    vertical-align: middle;
    text-align: center;

}

h2{
    padding-bottom: 10%;
    text-align: center;
}

